@import "_constants";
@import "_mixins";

.container-component{
    width: 100%;
 
    h1{
            text-align: center;

        margin:0;
        margin-bottom: 10px;
        padding:10px;
        @include MainTitleStyle()
    }

}

.form-input{
    width:400px;
}

.valid-lti-span{
    color:$valid
}

.user_ids-input{
    height:200px !important;
}